/* @font-face {
	font-family: 'MatrixIIOT';
	src: url('MatrixIIOT-Bold.eot');
	src: url('MatrixIIOT-Bold.eot?#iefix') format('embedded-opentype'),
		url('MatrixIIOT-Bold.woff2') format('woff2'),
		url('MatrixIIOT-Bold.woff') format('woff'),
		url('MatrixIIOT-Bold.ttf') format('truetype'),
		url('MatrixIIOT-Bold.svg#MatrixIIOT-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
} */

/* @font-face {
	font-family: 'Matrix';
	src: url('Matrix-Bold.eot');
	src: url('Matrix-Bold.eot?#iefix') format('embedded-opentype'),
		url('Matrix-Bold.woff2') format('woff2'), url('Matrix-Bold.woff') format('woff'),
		url('Matrix-Bold.ttf') format('truetype'),
		url('Matrix-Bold.svg#Matrix-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
} */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Removes browser default */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/********************************
 General
********************************/
.navYugiLogo {
	font-family: 'Matrix';
	font-size: 26px;
	color: #fdab00;
}

#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}

/********************************
 index.html 
********************************/

#wrapper {
	position: relative;
	width: 100%;
	min-height: 55vw;
	overflow: hidden;
}

.layer {
	position: absolute;
	width: 100vw;
	min-height: 55vw;
	overflow: hidden;
}

.layer .content-wrap {
	position: absolute;
	width: 100vw;
	min-height: 55vw;
}

.layer .content-body {
	width: 25%;
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	color: #fff;
}

.layer img {
	position: absolute;
	width: 35%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.layer h1 {
	font-size: 2em;
}

.bottom {
	background: #222;
	z-index: 1;
}

.bottom .content-body {
	right: 5%;
}

.bottom h1 {
	color: #fdab00;
}

.top {
	background: #eee;
	color: #222;
	z-index: 2;
	/* width: 50vw; */
}

.top .content-body {
	left: 5%;
	color: #222;
}

.handle {
	position: absolute;
	height: 100%;
	display: block;
	background-color: #713fce;
	width: 5px;
	top: 0;
	left: 50%;
	z-index: 3;
}

.skewed .handle {
	top: 50%;
	transform: rotate(30deg) translateY(-50%);
	height: 200%;
	transform-origin: top;
}

.skewed .top {
	transform: skew(-30deg);
	margin-left: -1000px;
	width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
	transform: skew(30deg);
	margin-left: 1000px;
}

/********************************
  card.html
********************************/

#random1 {
	box-shadow: 0 0 24px 9px rgb(78, 14, 182), 0 0 17px 0 rgba(88, 14, 185, 0.952);
	margin-top: 40px;
	margin-bottom: 40px;
}

.one_Card {
	height: 370px;
	width: 250px;
}

.card_cardSet-Bg {
	background-color: gray;
}
/********************************
 cardSet.html
********************************/

.cardSet_singleImage {
	height: 250px;
	box-shadow: 0 0 8px 3px rgb(78, 14, 182), 0 0 20px 0 rgba(88, 14, 185, 0.952);
}

/********************************
 episodes.html(All)
********************************/

.myIonIcon {
	font-size: 30px;
	color: #fdab00;
}

/********************************
 SHOP & CART PAGE
********************************/

.shop_cart_background {
	background-color: slategray;
}

.nav_Shop_Cart {
	background: linear-gradient(#9d50bb, #6e48aa);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 90px;
	position: relative;
	box-shadow: 0 8px 18px -6px rgb(78, 14, 182), 0 0 20px 0 rgba(225, 217, 235, 0.952);
}

.shop_cart_link_cart ion-icon {
	font-size: 20px;
	padding-left: 8px;
	color: #09f815;
}

.topContainer {
	display: flex;
}

.shop_cart_links {
	display: flex;
	margin-left: auto;
	margin-top: 20px;
	align-items: center;
	z-index: 1;
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
}

.shop_cart_navLinks {
	margin-right: 45px;
}

.shop_cart_navLinks a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.shop_cart_link_cart ion-icon {
	font-size: 23px;
}

.checkout-number {
	margin-left: 15px;
}

/* --------------- SHOP PAGE ------------- */

.card {
	box-shadow: 0 0 8px 3px rgb(21, 167, 235), 0 0 20px 0 rgba(88, 14, 185, 0.952);
	border-radius: 6px;
}

/* .productImage {
	height: 190px;
} */

/* --------------- CART PAGE ------------- */

.products-container {
	color: rgb(150, 146, 146);
	margin: 100px auto;
}

.product ion-icon {
	font-size: 20px;
	color: rgb(230, 41, 27);
	margin: 0 10px;
	cursor: pointer;
}
.quantity .decrease {
	font-size: 20px;
	color: rgb(119, 13, 241);
	margin: 0 10px;
	cursor: pointer;
}
.quantity .increase {
	font-size: 20px;
	color: rgb(119, 13, 241);
	margin: 0 10px;
	cursor: pointer;
}

.product-header {
	display: flex;
	border-bottom: 4px solid rgb(226, 158, 12);
}

.title {
	width: 32%;
	margin-left: 15px;
}

.price {
	width: 15%;
	display: flex;
	align-items: center;
}

.quantity {
	width: 25%;
	margin-left: 25px;
	display: flex;
	align-items: center;
}

.total {
	display: flex;
	align-items: center;

	margin-left: 20px;
}

.product {
	width: 35%;
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.products {
	display: flex;
	flex-wrap: wrap;
}

.products img {
	width: 75px;
	height: 60px;
}

/* .checkoutCartDisplay {
	color: #222;
} */

#checkOutBtn {
	width: 100%;
	margin-bottom: 10px;
	background: linear-gradient(#7a19a0, #6e48aa);
}

.productName {
	display: none;
}

.shipmentContainer {
	margin-top: 50px;
	box-shadow: 0 0 8px 3px rgb(78, 14, 182), 0 0 20px 0 rgba(88, 14, 185, 0.952);
}

/* new styling for shop */

.wrapper {
	margin-top: 30px;
}

.card {
	background-color: gray;
	border: 1px solid #eee;
	cursor: pointer;
}

.weight {
	margin-top: -65px;
	transition: all 0.5s;
}

.weight small {
	color: #e2dede;
}

.buttons {
	padding: 10px;
	background-color: #d6d4d44f;
	border-radius: 4px;
	position: relative;
	margin-top: 7px;
	opacity: 0;
	transition: all 0.8s;
}

.dot {
	height: 14px;
	width: 14px;
	background-color: green;
	border-radius: 50%;
	position: absolute;
	left: 27%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 8px;
	color: #fff;
	opacity: 0;
}

.cart-button {
	height: 48px;
}

.cart-button:focus {
	box-shadow: none;
}

.cart {
	position: relative;
	height: 48px !important;
	width: 50px;
	margin-right: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 11px;
	border-radius: 5px;
	font-size: 14px;
	transition: 1s ease-in-out;
	overflow: hidden;
}

.cart-button.clicked span.dot {
	animation: item 0.3s ease-in forwards;
}

@keyframes item {
	0% {
		opacity: 1;
		top: 30%;
		left: 30%;
	}

	25% {
		opacity: 1;
		left: 26%;
		top: 0%;
	}

	50% {
		opacity: 1;
		left: 23%;
		top: -22%;
	}

	75% {
		opacity: 1;
		left: 19%;
		top: -18%;
	}

	100% {
		opacity: 1;
		left: 14%;
		top: 28%;
	}
}

.card:hover .buttons {
	opacity: 1;
}

.card:hover .weight {
	margin-top: 10px;
}

.card:hover {
	transform: scale(1.04);
	z-index: 2;
	overflow: hidden;
}
